In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
import seaborn as sns
from sklearn.model_selection import train_test_split
import numpy as np
import torch
import torch.optim as optim
from torch import nn
from d2l import torch as d2l

In [5]:
df2 = pd.read_csv('submission1.csv')

In [6]:
df2

     PassengerId  Survived
0            892  0.215742
1            893  0.419066
2            894  0.215742
3            895  0.215742
4            896  0.756218
..           ...       ...
413         1305  0.215742
414         1306  2.464257
415         1307  0.215742
416         1308  0.215742
417         1309  0.215742

[418 rows x 2 columns]

In [7]:
df2['Survived'].mean()

0.7912261632853717

In [19]:
df2[(df2['Survived']>0.2) & (df2['Survived']<0.5)].count()#0.2-0.5

PassengerId    200
Survived       200
dtype: int64

In [17]:
df2[df2['Survived']>1].count() # >1

PassengerId    142
Survived       142
dtype: int64

In [16]:
df2[df2['Survived']>1.5].count()  # >1.5

PassengerId    60
Survived       60
dtype: int64

In [20]:
df2[(df2['Survived']>0.5) & (df2['Survived']<1)].count()

PassengerId    75
Survived       75
dtype: int64

In [21]:
df2[df2['Survived']>0.8].count()

PassengerId    195
Survived       195
dtype: int64

In [22]:
df2['Survived'] = [1 if x > 0.8 else 0 for x in df2['Survived'] ]

In [23]:
df2.to_csv('submission_v2.csv',index=False)